.form-manual{
	margin-top: 9px;
}

.btn-submit{
	margin-top: 25px;
}

#table-biodata{
	border-collapse: separate !important;
	border-spacing: 10px;
}

.text-center{
	text-align: center;
}

.margin-top-10px{
	margin-top: 10px;
}

.space-card{
	margin-bottom: 15px;
}

.active-card{
	color: #fff;
    background: #08be08;
}

.price-card{
	text-align: right;
}

.row-total{
	padding-left: 10px;
}